<div id="btnSection" class="bg-primary text-white">
    <div class=" bg-primary text-white">
    <div class="form-inline justify-content-center" >
                  <label class="mr-sm-2 botBut" for="inlineFormCustomSelect">Envoyer à </label>
                  <select class="botBut custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="selectBtn">
                    <option selected value="fla" name="fla">François LAFFON</option>
                    <option value="kco" name="kco">Kevin CONTICELLO</option>
                    <option value="apa" name="apa">Adrien PAQUEREAU</option>
                    <option value="yco" name="yco">Yann CORITON</option>
                    <option value="cjo" name="cjo">Cyril JOUENNE</option>
                    <option value="lze" name="lze">Lina ZENATI</option>
                  </select>
                  <button id="submit" type="submit" class=" botBut btn btn-info" form="totalPage">Envoyer</button>
              </div>

          </div>
          <br>
          <br>
    </div>