<div id="topBlocks" class="bg-primary text-white">
      <div id="block1" class="media  bg-primary text-white">
      
      <div id="infos1" class="media-body container bg-primary text-white">
          <br>
              <div class="form-group">
                  <label for="candidat-name" class="">Candidat :</label>
                  <div class="">
                    <input class="form-control" type="text" id="candidat-name" name="candidat-name" maxlength="25">
                  </div>
              </div>          
              <div class="form-group">
                  <label for="candidat-val" class="">Coopérateur(trice) :</label>
                  <div class="">
                    <input class="form-control" type="text" id="candidat-val" name="candidat-val"  maxlength="25">
                  </div>
              </div>
              <div class="form-group">
                  <label for="candidat-skills" class="">Poste envisagé :</label>
                  <div class="">
                    <input class="form-control" type="text" id="candidat-skills" name="candidat-skills"  maxlength="25">
                  </div>
              </div>
              
        </div>
      
      <div id="infos2" class="d-flex align-self-center mr-3 bg-primary text-white">
          
          <div class="form-group">
              <label for="dateVa" class="">Date :</label>
              <div class="">
                <input class="form-control" type="date"   name="dateVa" id="datetimepicker4">
              </div>
            </div>
          
      </div>
    </div>
          <br>
    </div>