<div class=" bg-primary text-white">
    <div class="container  bg-primary text-white">      
        <br>        
        <h4 class="sectionTitle">WeWant Him / Her ?</h4>        
        <br>
                
            <div class="form-group row divRow">
                <label class="col-sm-12 col-form-label" id="labClass" for="pointsPos">Points positifs :</label>
                <div class="col-sm-12 divClass">
                    <textarea class="form-control" id="pointsPos" rows="3" name="positifs"  maxlength="320"></textarea>
                </div>
            </div>
        
                <div class="form-group row divRow">
                    <label class="col-sm-12 col-form-label" id="labClass" for="pointsNeg">Points négatifs :</label>
                    <div class="col-sm-12 divClass">
                        <textarea class="form-control" id="pointsNeg" rows="3" name="negatifs"  maxlength="320"></textarea>
                    </div>
                </div>
                
                <div class="form-group row divRow">
                    <label class="col-sm-12 col-form-label" id="labClass" for="textManquements">Ai-je envie de travailler avec cette personne ? Pourquoi ?</label>
                    <div class="col-sm-12 divClass">
                        <textarea class="form-control" id="textManquements" rows="3" name="wantHim"  maxlength="320"></textarea>
                    </div>
                </div>
                
                <div class="form-group row divRow">
                    <label class="col-sm-12 col-form-label" id="labClass" for="textConnaissances">Ai-je envie d'avoir cette personne à mes côtés en période d'urgence ? Pourquoi ? </label>
                    <div class="col-12 divClass">
                        <textarea class="form-control" id="textConnaissances" rows="3" name="urgences"  maxlength="320"></textarea>
                    </div>
                </div>
                
                <div class="form-group row divRow">
                    <label class="col-sm-12 col-form-label" for="textPotentiel">Cette personne a-t-elle du potentiel ? Pourra-t-elle apporter de la valeur au sein de notre communauté ? Pourquoi ?</label>
                    <div class="col-12 divClass">
                        <textarea class="form-control" id="textPotentiel" rows="3" name="potentiel"  maxlength="320"></textarea>
                    </div>
                </div> 
                <br>
                <br>         
    </div>        
</div>

        