<div class=" bg-primary text-white">
    <div class="container  bg-primary text-white">      
        <br>        
        <h4 class="sectionTitle">Récapitulatif : Technologies / Agilité</h4>        
        <br>
                
                <div class="form-group row divRow">
                    <label class="col-3 col-form-label" id="labClass" for="textTechno">Technologies / Agilité :</label>
                    <div class="col-9 divClass">
                        <textarea class="form-control" id="textTechno" rows="3" name="techno"></textarea>
                    </div>
                </div>
                
                <div class="form-group row divRow">
                    <label class="col-3 col-form-label labClass" for="textManquements">Manquements :</label>
                    <div class="col-9 divClass">
                        <textarea class="form-control" id="textManquements" rows="3" name="manquements"></textarea>
                    </div>
                </div>
                
                <div class="form-group row divRow">
                    <label class="col-3 col-form-label labClass" for="textConnaissances">Connaissances pratiques :</label>
                    <div class="col-9 divClass">
                        <textarea class="form-control" id="textConnaissances" rows="3" name="connaissances"></textarea>
                    </div>
                </div>
                
                <div class="form-group row divRow">
                    <label class="col-3 col-form-label labClass" for="textPotentiel">Potentiel :</label>
                    <div class="col-9 divClass">
                        <textarea class="form-control" id="textPotentiel" rows="3" name="potentiel"></textarea>
                    </div>
                </div>  
                
        
    </div>
      <br>
        
        <hr class="bg-info">
    </div>